body
{
    margin: 0;
    padding: 0;
    background-color: #181C1F;
    color: white;
    font: 16px/26px D-DIN-Regular,Arial,Verdana,sans-serif;
}

#header
{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
}

#inner-header
{
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
}

#logo
{
    position: absolute;
    top: 32px;
    left: 50px;
    width: 210px;
    height: auto;
}

.fill-white
{
    fill: white;
}

#main-content
{
    position: relative;
    max-width: 1400px;
    margin: 125px auto;
}

.content-left-middle
{
    position: absolute;
    max-width: 420px;
    text-align: left;
    width: 50%;
    left: 50px;
}

h2
{
    font: 16px/26px D-DIN-Regular,Arial,Verdana,sans-serif;
}

p
{
    margin: 2rem auto;
}

table
{
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
    border-spacing: 0;
}

table td
{
    font: 600 16px/18px D-DIN-Regular,Arial,Verdana,sans-serif;
    text-align: right;
    padding: 20px 0;
    border-bottom: 1pt solid rgba(255,255,255,0.3);
}

table td:first-child
{
    font: 600 14px/18px D-DIN-Bold,Arial,Verdana,sans-serif;
    text-align: left;
}

table td span
{
    color: #868686;
}